/* Variables */

:root {
    --padding-col-element: 0.5rem 0;
    --border-radius-1: 15px;
    --border-radius-2: 40px;
    --gap-1: 20px;
    --color-1: #9792E4;
    --color-2: #3084FD;
    --color-3: #B5DDFF;
    --color-4: #FFFFFF;
}

/* Tag selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5rem;
}

header {
    background-color: var(--color-2);
}

nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    text-align: center;
    display: none;
    list-style: none;
}

section {
    margin: auto;
    padding: 2rem 0;
}

h5 {
    font-size: 16px;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 40px;
    color: #FDC25F;
}

footer {
    padding: 2rem 0;
    text-align: center;
    color: var(--color-4);
    background-color: #000000;
}

/* Utility classes */

.container {
    width: 100%;
    min-width: 480px;
    padding: 0 2rem;
    margin: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    all: unset;
    border-radius: 20px;
}

.btn-round {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-small {
    padding: 0.3rem 0.5rem;
}

.btn-medium {
    padding: 0.3rem 1.5rem;
}

.btn-big {
    padding: 0.7rem 3rem;
}

.btn-white {
    background-color: var(--color-4);
}

.btn-blue {
    color: var(--color-4);
    background-color: var(--color-2);
}

.btn-purple-black {
    background-color: var(--color-1);
}

.btn-purple-white {
    color: var(--color-4);
    background-color: var(--color-1);
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    gap: var(--gap-1);
}

.col {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem 1rem;
}

.col-radius-1 {
    border-radius: var(--border-radius-1);
}

.col-radius-2 {
    border-radius: var(--border-radius-2);
}

/* Main css */

/* Header */

#logo {
    max-height: 30px;
}

#hamburger-menu {
    font-size: 18px;
    color: var(--color-4);
}

ul > li {
    padding: 0.5rem 0;
}

ul > li > a {
    text-decoration: none;
    color: var(--color-4);
}

/* Hamburger menu mechanism */

#hamburger-menu:focus ~ ul {
    display: block;
}

#hamburger-menu:focus {
    color: var(--color-2);
}

/* Main */

section:nth-child(even) {
    background-color: var(--color-1);
}

/* First section */

/* Next 2 selectors o remove padding from 
top-left .col (nested columns) and pic */

section:first-child .col > .col {
    padding: 0;
}

section:first-child .col:first-child {
    padding-bottom: 0;
}

.col > i, .col > p, .col h4, .col > h5, 
.col > .btn-container {
    padding: var(--padding-col-element);
}

section:first-child .col {
    text-align: center;
    background-color: var(--color-3);
}

section:first-child h5,
section:first-child .col > i {
    color: var(--color-2);
}

#phone {
    max-height: 250px;
    padding-top: 0.5rem;
}

section:first-child .col > i {
    width: 100%;
    font-size: 60px;
}

/* Second section */

section:nth-child(2) .col:first-child {
    color: var(--color-4);
}

section:nth-child(2) .col:last-child {
    background-color: var(--color-4);
    text-align: center;
}

section:nth-child(2) img {
    height: 200px;
}

/* Third section */

section:nth-child(3) > .container > div:first-child,
section:nth-child(3) > .container > h3,
section:nth-child(3) > .container > p {
    text-align: center;
    padding: var(--padding-col-element)
}

section:nth-child(3) h3 {
    color: var(--color-1);
}

section:nth-child(3) .col {
    text-align: center;
    color: var(--color-4);
    background-color: var(--color-1);
}

section:nth-child(3) img {
    max-height: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

section:nth-child(3) i {
    font-size: 16px;
}

/* Fourth section */

section:nth-child(4) h3 {
    text-align: center;
    color: var(--color-4);
    padding-bottom: 1.5rem;
}

section:nth-child(4) .col {
    background-color: var(--color-4);
}

section:nth-child(4) h2,
section:nth-child(4) h5 {
    padding: var(--padding-col-element);
    color: var(--color-1);
}

section:nth-child(4) .btn-container {
    justify-content: flex-start;
}

/* Fifth section */

section:nth-child(5) h2,
section:nth-child(5) h4 {
    color: var(--color-1);
    padding: var(--padding-col-element);
}

section:nth-child(5) img {
    max-height: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

section:nth-child(5) .btn-container {
    justify-content: flex-start;
}

.section-5-img-container {
    position: relative;
}

.section-5-img-container i {
    font-size: 45px;
    color: var(--color-1);
    position: absolute;
    top: 0;
    left: 110px;
}

/* Sixth section */

section:last-child {
    text-align: center;
    color: var(--color-4);
}

section:last-child h1,
section:last-child h4,
section:last-child p,
section:last-child > .container > div {
    padding: var(--padding-col-element);
}

section:last-child a {
    color: var(--color-4);
}

section:last-child .btn {
    color: var(--color-1);
}

section:last-child i {
    font-size: 5px;
    vertical-align: middle;
}

/* Footer */

footer p,
footer div {
    padding: 2rem 0;
}

footer a {
    color: var(--color-1);
}

/* Media queries */

@media screen and (min-width: 680px) {
    
    .container {
        width: 100%;
    }

    .container-4 {
        padding: 0 15%;
    }

    .container-5 {
        padding: 0 20%;
    }

    /* Change in column layout */

    .row {
        gap: var(--gap-1);
    }

    section:first-child .col:first-child {
        flex-grow: 1;
        }

    /* How to calculate width of gapped items (math formula):
     https://stackoverflow.com/questions/68007483/css-flexbox-gap-gap-value-affecting-width-calculation */

    .col-2-3-tablet {
        flex-basis: calc((100% / 3 * 2) - var(--gap-1) + var(--gap-1) / 3 * 2);
    }

    .col-1-3-tablet {
        flex-basis: calc((100% / 3) - var(--gap-1) + var(--gap-1) / 3);
    }
    
    .col-1-2-tablet {
        flex-basis:calc((100% / 2) - var(--gap-1) + var(--gap-1) / 2);
    }

    /* Third section */

    section:nth-child(3) .col {
        display: flex;
    }

    .section-3-text-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (min-width: 920px) {

    .container {
        width: 100%;
        max-width: 1080px;
    }

    .container-1 {
        padding: 0 15%;
    }

    .container-2 {
        padding: 0 20%;
    }

    .container-3 {
        padding: 0 30%;
    }
    
/* Header, hamburger menu gone, nav menu appears */

    #hamburger-menu {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
    }

    ul > li {
        padding: 0 0.5rem;
    }

/* Main */

/* Change in column layout */

    .col-1-2-desktop {
        flex-basis: calc((100% / 2) - var(--gap-1) + var(--gap-1) / 2);
    }

    .col-1-3-desktop {
        flex-basis: calc((100% / 3) - var(--gap-1) + var(--gap-1) / 3);
    }

    .col-2-3-desktop {
        flex-basis: calc((100% / 3 * 2)- var(--gap-1) + var(--gap-1) / 3 * 2);
    }

/* Next 3 selectors to modify behaviour of top left column - 
first section */

    .col-2-3-tablet {
        display: flex;
    }

    .col-2-3-tablet .col:first-child {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .col-2-3-tablet > .col:first-child h5,
    .col-2-3-tablet > .col:first-child p,
    .col-2-3-tablet > .col:first-child .button-container {
        flex-basis: 100%;
    }

    section:nth-child(2) .col:last-child {
        margin-top: 150px;
    }

    section:nth-child(5) .col:first-child {
        display: block;
    }

}